@model PersonModel
@{
    ViewData["Title"] = "Create";
}



@section Styles{
    <link href="~/css/bootstrap-fileinput.css" rel="stylesheet" />
}


@{
    if (ViewBag.Person is PersonModel person)
    {
        <h1>Person Info</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Family </th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Family</td>
                    <td><img src="@person.Image" class="img-thumbnail" style="width: 90px" /></td>
                </tr>
            </tbody>
        </table>
    }
}
<h1>Create person</h1>
<h2 class="text-danger"> This form created using TagHelpers </h2>
<h5 class="text-info">Usin TagHelpers add a hidden field named _RequestVerificationToken to the create form that perevent CSRF(Cross-Site Request Forgery) Attack</h5>
<div class="col-12">
    <form asp-action="ByTagHelper" asp-controller="Form" method="post" enctype="multipart/form-data">

        <div class="col-md-9 float-left">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Enter your name please"> @*readonly with form-control-plaintext*@
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Family" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Family" class="form-control" id="inputFamily" placeholder="Enter your family please">
                    <span asp-validation-for="Family" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CityId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="CityId" asp-items="@ViewBag.Cities" class="form-control" id="selectCity">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>

                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="form-check">

                        <input type="checkbox" asp-for="IAccept" id="IAccept" class="form-check-input">
                        <label asp-for="IAccept" class="form-check-label"></label>
                        <br />
                        <span asp-validation-for="IAccept" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 float-left">
            <label asp-for="Image"></label>
            <div class="col-md-12 form-group margin-bottom-40 padding-left-0 padding-right-0">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="font-weight: bold">
                        @{
                            if (Model?.Image == null)
                            {
                                <img src="~/images/NoImage.jpg" style="height: 200px" class="img-thumbnail" />
                            }
                            else
                            {
                                <img src="@Model.Image" style="height: 200px" class="img-thumbnail" />
                            }
                        }

                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="height: 200px"> </div>
                    <div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new btn btn-primary"> Choose your picture </span>
                            <span class="fileinput-exists btn btn-success"> Change picture </span>
                            <input type="file" asp-for="File" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                        </span>
                        <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> Delete </a>
                    </div>
                    @if (Model == null || string.IsNullOrEmpty(Model.Image))
                    {
                        <span class="text-danger" asp-validation-for="File"></span>
                    }

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>
</div>


@section Scripts{
    <script src="~/js/bootstrap-fileinput.js"></script>
    <script>
        //exend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            //if it's a checkbox return true itt is checked
            if (element.type === 'checkbox') {
                return element.checked;
            } else {
                //otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}